:root{
    --navbar-color: #333;
    --main-color: #f5f5f5;
    --primary-color: #f5f5f5;
    --secondary-color: #fff;

    --logo-path: url(../assets/images/logo.png);

    --text-color-1: #000;
    --text-color-2: #747775;
    --text-color-3: #fff;

    --accent-color-1: #747775;
    --accent-color-2: #f5f5f5;

    --red-light-1: #ff4d4d;
    --red-light-2: #af2222;
  
    --green-light-1: #23c976;
    --green-light-2: #00763b;
  
    --blue-light-1: #4d94ff;
    --blue-light-2: #0d479d;
  
    --yellow-light-1: #ffd735;
    --yellow-light-2: #e39400;

    --shadow-4-4: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
    --shadow-2-2: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
    
    --theme-shadow-4-m: 0px 0px 4px 0px var(--accent-color-1);
    --theme-shadow-2-m: 0px 0px 2px 0px var(--accent-color-1);
    
}